<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.massz.dao.SearchMapper">
    <select id="searchByName" resultType="cn.massz.model.Bar" parameterType="cn.massz.model.Bar">

        select bar_id barId,bar_name barName,pic_name picName,follow,posts,user_id userId from bar

        <where>
        <if test="barName != null"></if>
            and bar_name like CONCAT(CONCAT('%',#{barName},'%'))
        </where>

    </select>
</mapper>