<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.massz.dao.UserMapper">

    <select id="findByName" parameterType="cn.massz.model.Users" resultType="cn.massz.model.Users">
        select * from users where user_name = #{user_name} and password = #{password}
    </select>

    <select id="findById" resultType="cn.massz.model.Users" parameterType="java.lang.Integer">
        select * from users where user_id = #{user_id}
    </select>

    <update id="upDateMI" parameterType="cn.massz.model.Users">
        update users set nick_name = #{nick_name} , gender = #{gender} , signature = #{signature} where user_name = #{user_name}
    </update>

    <update id="updateImg" parameterType="cn.massz.model.Users">
        update users set avatar = #{avatar} where user_id = #{user_id}
    </update>

    <insert id="insertUsers" parameterType="cn.massz.model.Users">
        insert into users(user_name,password,nick_name) values (#{user_name},#{password},#{nick_name})
    </insert>

    <select id="findUsersByUserName" parameterType="String" resultType="cn.massz.model.Users">
        select
            *
        from users
        where user_name = #{user_name}
    </select>

    <select id="findUserInfo" parameterType="int" resultType="cn.massz.model.Users">
        SELECT
            (SELECT count(*) FROM post m WHERE m.user_id = a.user_id ) postNum,
            (select count(*) FROM follow_bar fb WHERE fb.user_id = a.user_id ) barNum,
            (select count(*) FROM fans f WHERE f.user_id = a.user_id ) fansNum,
            (select count(*) FROM follow_users fu WHERE fu.user_id = a.user_id ) followNum
        FROM
            users a
        WHERE
            a.user_id = #{user_id}
    </select>


    <select id="findUserInformation" parameterType="int" resultType="cn.massz.model.Users">
        SELECT *,
                (select count(*) FROM follow_bar fb WHERE fb.user_id = a.user_id ) barNum,
                (select count(*) FROM fans f WHERE f.user_id = a.user_id ) fansNum,
                (select count(*) FROM follow_users fu WHERE fu.user_id = a.user_id ) followNum
        FROM
            users a
        WHERE
            a.user_id = #{user_id}
    </select>
</mapper>